{% extends 'base.html' %}

{% load static humanize gravatar %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_vibe' %}" class="btn btn-primary">New Vibe</a>
  </div>

    {% for vibe in vibes reversed %}
    <div class="card mb-2 border-dark">
      <div class="card-header text-white bg-dark py-2 px-3">{{ vibe.title }}</div>
      <div class="card-body p-3">
        <div class="row">
          <div class="col-2">
            <img src="{{ vibe.created_by|gravatar }}" alt="{{ vibe.created_by.username }}" class="w-100 rounded">
          </div>
          <div class="col-10">
            <div class="row mb-3">
              <div class="col-6">
                <strong class="text-muted">{{ vibe.created_by.username }}</strong>
              </div>
              <div class="col-6 text-right">
                <small class="text-muted">Created: {{ vibe.created_at }}</small>
                {% if vibe.edited_at %}
                 <small class="text-muted"> | Edited: {{ vibe.edited_at|naturaltime }}</small>
                  {% endif %}
              </div>
            </div>
            {{ vibe.get_body_as_markdown }}
              <div class="mt-3">
                <a href="{% url 'vibe' vibe.pk %}" class="btn btn-primary btn-sm" role="button">View Vibe</a>
                  {% if vibe.sentiment == 'Positive' %}
                  <button type="button" class="btn btn-success btn-sm">{{ vibe.sentiment }}</button>
                  {% elif vibe.sentiment == 'Negative' %}
                  <button type="button" class="btn btn-danger btn-sm">{{ vibe.sentiment }}</button>
                  {% elif vibe.sentiment == 'Neutral' %}
                  <button type="button" class="btn btn-secondary btn-sm">{{ vibe.sentiment }}</button>
                  {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}